<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>

    <title>Sign Up</title>
</head>
<body>
<th:block th:replace="fragments/header :: header"/>
<div class="container">

    <div class="row mb-4 justify-content-md-center">
        <div class="col-md-6">

            <div role="alert" th:if="${message}" th:class="${'alert alert-dismissible fade show ' + alertClass}">
                <strong th:text="${message}"></strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form th:action="@{/saveUser}" method="post">
                <div class="form-group">
                    <label for="email">Email: </label>
                    <input type="text" class="form-control" id="email" name="email" placeholder="Your email" th:field="${newUser.email}">
                </div>
                <div class="form-group">
                    <label for="password">Password: </label>
                    <input type="text" class="form-control" id="password" name="password" placeholder="Password atleast 8 charecter" th:field="${newUser.password}">
                </div>
                <div class="form-group">
                    <label for="firstName">First Name </label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Your firstName" th:field="${newUser.firstName}">
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name: </label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Your lastName" th:field="${newUser.lastName}">
                </div>
                <div class="form-group">
                    <label for="mobileNumber">Mobile Number: </label>
                    <input type="text" class="form-control" id="mobileNumber" name="mobileNumber" placeholder="Your mobileNumber" th:field="${newUser.mobileNumber}">
                </div>
                <button type="submit" class="btn btn-success btn-sm">Save</button>
                <a th:href="@{/signup}"class="btn btn-info btn-sm" role="button">New</a>
            </form>
        </div>
    </div>
</div>

<!--<th:block th:replace="fragments/footer :: footer"/>-->

</body>
</html>
